<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%- title %>
	</title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
	<link href="/fonts/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/admin-css/admin.css">


	<!-- Css Styles -->
	<link rel="stylesheet" href="/css/landing-css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href=/css/landing-css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="/css/landing-css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="/css/landing-css/style.css" type="text/css">
	<link rel="stylesheet" href="/css/admin-css/admin.css">
</head>

<body>
	<%- include('../partials/admin-partials/header.ejs') %>
		<%- include('../partials/common-partials/flash') %>
			<%- body %>
				<script src="/javascript/landing-js/jquery-3.3.1.min.js"></script>
				<script src="/javascript/landing-js/bootstrap.min.js"></script>
				<script src="/javascript/landing-js/main.js"></script>
				<script src="/javascript/landing-js/landing-functions.js"></script>
</body>

</html>