<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%- title %>
	</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="/css/event/event.css">
	<link rel="stylesheet" href="/css/landing-css/style.css" type="text/css">

</head>

<body>
	<%- include('../partials/common-partials/preloader.ejs') %>
		<%- body %>

			<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
			<script src="/javascript/event/event.js"></script>
			<script src="/javascript/landing-js/main.js"></script>

</body>

</html>