<form action="/kts-admin/event" method="post">
	<h2 class="fs-title">Create Event Owner Account</h2>
	<input type="text" name="email" placeholder="Email" />
	<button>submit</button>
	<a href="/kts-admin/home">back</a>
</form>