<form action="/kts-admin/event/<%= eventid %>/details" method="post">
	<input type="text" placeholder="title" name="title">
	<input type="text" placeholder="description" name="description">
	<button class="btn btn-success">Save</button>
</form>