<form id="msform">
	<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">Account Setup</li>
		<li>Event Details</li>
		<li>Add Packages</li>
		<li>Add Invited People</li>
	</ul>
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">Create Even Owner Account</h2>
		<h3 class="fs-subtitle">This is step 1</h3>
		<input type="text" name="email" placeholder="Email" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Event Details</h2>
		<h3 class="fs-subtitle">This is step 2</h3>
		<input type="text" name="eventTitle" placeholder="Event Title" />
		<input type="text" name="eventDescription" placeholder="Event Description" />
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Add Packages</h2>
		<h3 class="fs-subtitle">This is step 3</h3>
		<button id="addEvent" class="action-button">Add Event</button>
		<input type="text" name="fname" placeholder="First Name" />
		<input type="text" name="lname" placeholder="Last Name" />
		<input type="text" name="phone" placeholder="Phone" />
		<textarea name="address" placeholder="Address"></textarea>
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">Add Packages</h2>
		<h3 class="fs-subtitle">This is step 3</h3>
		<button id="addEvent" class="action-button">Add Event</button>
		<input type="text" name="fname" placeholder="First Name" />
		<input type="text" name="lname" placeholder="Last Name" />
		<input type="text" name="phone" placeholder="Phone" />
		<textarea name="address" placeholder="Address"></textarea>
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="submit" name="previous" class="action-button" value="submit" />
	</fieldset>
</form>