<a href="/kts-admin/home">back</a>
<form action="/kts-admin/event/<%= event._id.toString() %>/package" method="get">
	<button id="addEvent" class="action-button">Add Packages</button>
	<br>
</form>

<% if(Packages.packages.length> 0) { %>
	<% for(let i=0; i < Packages.packages.length; i++){ %>
		<h1>
			<a href="/kts-admin/<%= event._id.toString() %>/package/<%=Packages.packages[i]._id.toString() %>">
				<%=Packages.packages[i].title %>

			</a>
		</h1>
		<% } %>
			<% } %>