<form action="/kts-admin/event/<%= relatedEvent._id.toString() %>" method="post">
	<input type="text" name="title">
	<input type="text" name="description">
	<input type="number" name="price">
	<button>submit</button>
</form>