<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Password Grant</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                   
                    <form action="/password-grant" method="POST">
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">SEND</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>