
<section class="contact-content-section">
	<div class="container-fluid">
        <h1>Welcome Elias!</h1>
        <form action="/logout" method="POST">
            <div class="form-group">
                <button class="form-control btn btn-primary submit px-3">Sign Out</button>
            </div>
        </form>
	</div>
</section>
