<%- include('../common-partials/preloader') %>

	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="container">
			<div class="logo">
				<a href="/kts-admin/home">
					<img src="/img/kts-logo.png" alt="" style="max-width: 12em;margin-bottom: 3em;">
				</a>
			</div>
			<div class="nav-menu">
				<nav class="mainmenu mobile-menu">
					<form action="/logout" method="post">
						<button class="primary-btn top-btn"><i class="fa-solid fa-user"></i> Logout</button>
					</form>

				</nav>

			</div>
			<div id="mobile-menu-wrap"></div>
		</div>
	</header>