body {
	background: url(https://bevents.co/wp-content/uploads/2020/02/events.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 100vh;
}

.box {
	width: 40%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.4);
	padding: 35px;
	border: 2px solid #fff;
	border-radius: 20px;
	background-clip: padding-box;
	text-align: center;
}

.box1 {
	width: 40%;
	margin: 2em;
	background: rgba(255, 255, 255, 0.4);
	padding: 35px;
	border: 2px solid #fff;
	border-radius: 20px;
	background-clip: padding-box;
	text-align: center;
}

.header_two {
	text-align: center;
	font-family: Tahoma, Arial, sans-serif;
	color: #04538c;
	margin: 80px 0;
}

.form-control {
	border: none;
	height: 50px;
	color: black !important;
	border-radius: 40px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	width: 100%;
}

.button {
	font-size: 1em;
	padding: 10px;
	color: #fff;
	border: 2px solid #04538c;
	border-radius: 20px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	margin: 0.5em;
	background-color: transparent;
}

.button:hover {
	background: #04538c;
}

.display-flex-column {
	display: flex;
	flex-direction: column;
}


@media screen and (max-width: 700px) {
	.box {
		width: 70%;
	}

	.alertDiv {
		width: 70%;
	}
}

.alertDiv {
	margin: 70px auto;
	padding: 20px;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 0.5s ease-in-out;
	text-align: center;
}

.visible {
	visibility: visible;
}

.notVisible {
	visibility: hidden;
}

.flex-display-package {
	display: flex;
}

.packageContainer {
	margin: 2em;
	background: rgba(255, 255, 255, 0.4);
	padding: 35px;
	border: 2px solid #fff;
	border-radius: 20px;
	background-clip: padding-box;
	text-align: center;
}