<!-- Newslatter Section Begin -->
<section class="newslatter-section spad">
	<div class="container">
		<div class="newslatter-inner set-bg" data-setbg="img/newslatter-bg.jpg">
			<div class="ni-text">
				<h3>Subscribe Newsletter</h3>
				<p>Subscribe to our newsletter and don’t miss anything</p>
			</div>
			<form action="/subscribe" method="POST" class="ni-form">
				<input type="email" placeholder="Your email" name="email">
				<button type="submit">Subscribe</button>
			</form>
		</div>
	</div>
</section>
<!-- Newslatter Section End -->