<%- include('../common-partials/preloader') %>

	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="container">
			<div class="logo">
				<a href="/">
					<img src="img/kts-logo.png" alt="" style="max-width: 11em;">
				</a>
			</div>
			<div class="nav-menu">
				<nav class="mainmenu mobile-menu">
					<ul>
						<li class="active removeAddActive"><a href="/">Home</a></li>
						<li class="removeAddActive"><a href="/about">About</a></li>
						<li class="removeAddActive"><a href="/contact">Contacts</a></li>
					</ul>
				</nav>
				<a href="#" class="primary-btn top-btn"><i class="fa-solid fa-ticket"></i> Ticket</a>
			</div>
			<div id="mobile-menu-wrap"></div>
		</div>
	</header>
	<!-- Header End -->